{% extends 'main.html' %}
{% block content %}


<div class="container">
    <div class="navbar">
        <img src="/static/images/assets/dinder.svg" draggable="false">
    </div>

    <div class="login-input-container">
        <img class="hero-image" src="/static/images/assets/hero.png" draggable="false">
        <input type="text" placeholder="Username" value="marco_the_dog">
        <input type="password" placeholder="Password">

        <button id='login-input-container-button' class="disabled">Login</button>
        <div class="account-register">Create an account</div>
    </div>

</div>

<script src="/static/js/login.js"></script>



{% endblock content %}