{% extends 'main.html' %}
{% block content %}

<div class="container">
    <div class="navbar">
        <img src="/static/images/assets/dinder.svg" draggable="false">
    </div>

    <div class="image-upload-container" onclick="document.querySelector('#image-upload-js').click()">
        <img class="image-upload-placeholder" src="/static/images/assets/image.svg" draggable="false" />

        <img class="image-upload-user hidden" src="" draggable="false" />
        <div class="loader-container hidden">
            <div class="loader"></div>
        </div>

        <input id="image-upload-js" type="file" name="image" accept="image/*" style="display: none" />
    </div>

    <div class="error-container face hidden">We detected a person!</div>

    <div class="register-input-container-a">
        <div id='input-breed' class="input-loader-container">
            <input id='input-breed-js' type="text" placeholder="Breed">
            <span class="text-loader hidden"></span>
        </div>
        <div id='input-coat-color' class="input-loader-container">
            <input id='input-coat-color-js' type="text" placeholder="Coat Color">
            <span class="text-loader hidden"></span>
        </div>
        <div id='input-type' class="input-loader-container">
            <input id='input-type-js' type="text" placeholder="Type">
            <span class="text-loader hidden"></span>
        </div>

        <button id='register-input-container-a-button' class="disabled">Next</button>
        <a href="/">
            <div class="account-login">I already have an account</div>
        </a>
        <div class="register-progress-container">
            <div></div>
        </div>
    </div>

    <div class="register-input-container-b hidden">
        <input id='input-name-js' type="text" placeholder="Name" onkeydown="inputChangeB()">
        <select id="select-gender-js" onchange="selectChange()" required>
            <option value="" disabled selected hidden>Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <select id="select-location-js" onchange="selectChange()" required>
            <option value="" disabled selected hidden>Location</option>
            <option value="Santa Cruz">Santa Cruz</option>
            <option value="Pila">Pila</option>
            <option value="Los Baños">Los Baños</option>
            <option value="Lumban">Lumban</option>
            <option value="Calauan">Calauan</option>
            <option value="Calamba">Calamba</option>
            <option value="Bay">Bay</option>
            <option value="Nagcarlan">Nagcarlan</option>
            <option value="Kalayaan">Kalayaan</option>
            <option value="Mabitac">Mabitac</option>
            <option value="Rizal">Rizal</option>
            <option value="Luisiana">Luisiana</option>
            <option value="Alaminos">Alaminos</option>
            <option value="Cabuyao">Cabuyao</option>
        </select>
        <div class="select-age-container">
            <select id='select-year-js' onchange="selectChange()" required>
                <option value="" disabled selected hidden>Year</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <select id='select-month-js' onchange="selectChange()" required>
                <option value="" disabled selected hidden>Month</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>

        <button id='register-input-container-b-button' class="disabled">Next</button>
        <div class="account-login">I already have an account</div>
        <div class="register-progress-container">
            <div></div>
        </div>
    </div>

    <div class="register-input-container-c hidden">
        <input id='input-username-js' type="text" placeholder="Username" onkeydown="inputChangeC()">
        <input id='input-password-js' type="password" placeholder="Password" onkeydown="inputChangeC()">

        <button id='register-input-container-c-button' class="disabled">Submit</button>
        <div class="account-login">I already have an accounttttt</div>
        <div class="register-progress-container">
            <div></div>
        </div>
    </div>

</div>

<script src="/static/js/register.js"></script>

{% endblock content %}