@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

:root {
  --primary: #e12345;
  --background: #1a1a1a;
  --background-secondary: #272727;
  --background-hover: #373737;

  --text-primary: #dfdfdf;
  --text-secondary: #717171;

  --button-enabled: #e12345;
  --button-disabled: #6f2331;
  --button-hover: #f0274c;

  --button-text-enabled: #dfdfdf;
  --button-text-disabled: #a0727b;

  --container-max-width: 500px;
  --container-min-width: 400px;

  --font-size-small: 12px;
  --font-size-regular: 14px;
  --font-size-medium: 18px;
  --font-size-large: 46px;

  --page-gutter-left-right: 60px;
  --page-gutter-top: 30px;
  --page-gutter-bottom: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 var(--page-gutter-left-right);
  padding-top: var(--page-gutter-top);
  padding-bottom: var(--page-gutter-bottom);
}

/* Container */
.container {
  max-width: var(--container-max-width);
  width: 100%;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;

  margin-bottom: 40px;
}

.navbar.home {
  justify-content: space-between;
  position: relative;
}

/* LOGIN */
/* Login Input Container */
.hero-image {
  margin-top: -35px;
  margin-bottom: -15px;
}
.login-input-container {
  display: flex;
  flex-direction: column;
}

.login-input-container > input[type="text"],
input[type="password"] {
  height: 42px;
  border-radius: 10px;
  margin-bottom: 18px;
  background-color: var(--background-secondary);
}

.login-input-container > input[type="password"] {
  margin-bottom: 0px;
}

/* REGISTER */
/* Image upload container */
.image-upload-container {
  background-color: var(--background-secondary);
  width: 250px;
  height: 250px;
  border-radius: 50%;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: background-color 0.2s ease-out;

  overflow: hidden;

  margin-bottom: 40px;
}

.image-upload-container:hover {
  background-color: var(--background-hover);
}

.image-upload-user {
  width: calc(250px - 20px);
  height: calc(250px - 20px);
  border-radius: 50%;
  object-fit: cover;

  position: relative;

  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.image-upload-user:hover {
  opacity: 0.6;
}

/* Loader container */
.loader-container {
  width: 230px;
  height: 230px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;
}

.loader {
  width: 230px;
  height: 230px;
  background: var(--primary);
  display: inline-block;
  border-radius: 50%;
  box-sizing: border-box;
  animation: animloader 1s ease-in infinite;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* Register Input Container A */
.register-input-container-a {
  display: flex;
  flex-direction: column;
}

.register-input-container-a > .input-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 42px;
  border-radius: 10px;

  margin-bottom: 18px;

  background-color: var(--background-secondary);
}

.register-input-container-a > .input-loader-container:nth-child(3) {
  margin-bottom: 0px;
}

.register-input-container-a > .register-progress-container > div {
  width: 33%;
}

input[type="text"],
input[type="password"] {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: var(--text-primary);

  background-color: transparent;
  outline: none;
  border: none;

  text-align: center;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--text-secondary);
}

/* Text Loader */
.text-loader {
  width: 2.2px;
  height: 2.2px;
  display: block;
  margin: 20px auto;
  position: relative;
  border-radius: 4px;
  color: var(--text-secondary);
  background: currentColor;
  box-sizing: border-box;
  animation: animloader-text 0.3s 0.3s linear infinite alternate;
}
.text-loader::after,
.text-loader::before {
  content: "";
  box-sizing: border-box;
  width: 2.2px;
  height: 2.2px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 6px;
  animation: animloader-text 0.3s 0.45s linear infinite alternate;
}
.text-loader::after {
  top: -6px;
  animation-delay: 0s;
}

@keyframes animloader-text {
  0% {
    width: 2.2px;
  }
  100% {
    width: 22px;
  }
}

/* Register Input Container B */
.register-input-container-b {
  display: flex;
  flex-direction: column;
}

.register-input-container-b > input[type="text"] {
  height: 42px;
  border-radius: 10px;
  margin-bottom: 18px;
  background-color: var(--background-secondary);
}

select {
  appearance: none;
  width: 100%;
  height: 42px;
  border: none;
  outline: none;
  border-radius: 10px;

  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--text-primary);

  cursor: pointer;

  text-align: center;
  padding-left: 20px;
  padding-right: 20px;

  background-color: var(--background-secondary);
  background-image: url("/static/images/assets/arrow.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: right;
  background-origin: content-box;

  margin-bottom: 18px;
}

select:invalid {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--text-secondary);
}

option {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-primary);
  background-color: var(--background);
}

.select-age-container {
  display: flex;
  gap: 18px;
}

.select-age-container > select {
  margin-bottom: 0px;
}

.register-input-container-b > .register-progress-container > div {
  width: 66%;
}

/* Register Input Container C */
.register-input-container-c {
  display: flex;
  flex-direction: column;
}

.register-input-container-c > input[type="text"],
input[type="password"] {
  height: 42px;
  border-radius: 10px;
  margin-bottom: 18px;
  background-color: var(--background-secondary);
}

.register-input-container-c > input[type="password"] {
  margin-bottom: 0px;
}

.register-input-container-c > .register-progress-container > div {
  width: 100%;
}

/* Button */
button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--button-text-enabled);

  width: 100%;
  height: 47px;

  border: none;
  border-radius: 10px;
  outline: none;

  background-color: var(--button-enabled);

  cursor: pointer;

  margin-top: 40px;
}

button:hover {
  background-color: var(--button-hover);
}

button.disabled {
  background-color: var(--button-disabled);
  color: var(--button-text-disabled);
  pointer-events: none;
}

.account-login,
.account-register {
  font-size: 12px;
  font-weight: 500;
  color: var(--text-secondary);

  text-align: center;

  cursor: pointer;

  margin-top: 5px;

  transition: color 0.2s ease-out;
}

.account-login:hover,
.account-register:hover {
  color: var(--text-primary);
}

/* Register Progress container */
.register-progress-container {
  width: 100%;
  height: 6px;
  background-color: var(--background-secondary);
  border-radius: 40px;

  margin-top: 40px;
}

.register-progress-container > div {
  width: 33%;
  height: 100%;
  background-color: var(--primary);
  border-radius: 40px 0px 0px 40px;
}

/* HOME */

/* Profile Image Container */
.profile-image-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  background-color: var(--background-secondary);
  border-radius: 50%;

  cursor: pointer;
}

.profile-image-container > img {
  padding-left: 1px;
  padding-top: 1px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

/* Logout Container */
.logout-container {
  position: absolute;
  right: 0;
  top: 43px;

  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: var(--text-primary);
  background-color: var(--background-secondary);
  border-radius: 10px;
  padding: 8px 14px;

  cursor: pointer;

  transition: background-color 0.2s ease-out;
}
.logout-container:hover {
  background-color: var(--background-hover);
}

/* Filters container */
.filters-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 18px;
}

.filters-container > select {
  height: 35px;
  border-radius: 20px;

  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: var(--text-primary);

  cursor: pointer;

  text-align: center;
  padding-left: 8px;
  padding-right: 20px;

  background-color: var(--background-secondary);
  background-image: url("/static/images/assets/arrow.svg");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: right;
  background-origin: content-box;

  margin-bottom: 0px;
}

.filters-container > select:first-child {
  width: 170px;
}

.filters-container > select:nth-child(2) {
  width: 180px;
}

.filters-container > select > option {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-primary);
  background-color: var(--background);
}

/* Dog Card */
.dog-card-container {
  width: 100%;
  height: 350px;
  background-color: var(--background-secondary);
  border-radius: 15px;

  position: relative;
}

/* Dog Image Container */
.dog-image-container {
  width: calc(100% - 26px);
  height: calc(100% - 26px);
  border-radius: 15px;
  overflow: hidden;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dog-image-container > img {
  width: 105%;
  height: 105%;
  object-fit: cover;
}

/* Dog Image Filter */
.dog-image-filter {
  width: calc(100% - 26px);
  height: calc(100% - 26px);
  border-radius: 15px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 90%);

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Dog location container */
.dog-location-container {
  height: 27px;
  background-color: var(--primary);
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding-left: 8px;
  padding-right: 10px;

  position: absolute;
  top: 32px;
  right: 32px;
}

.dog-location-container > div {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: var(--text-primary);
}

/* Dog details container */
.dog-details-container {
  display: flex;
  flex-direction: column;

  position: absolute;
  bottom: 32px;
  left: 32px;
}

.dog-details-container > div {
  font-family: "Poppins", sans-serif;
  color: var(--text-primary);
}

.dog-details-container > div:nth-child(1) {
  font-weight: 700;
  font-size: 18px;
}

.dog-details-container > div:nth-child(2) {
  font-weight: 500;
  font-size: 14px;
  margin-top: -4px;
}

.dog-details-container > div:nth-child(3) {
  font-weight: 400;
  font-size: 12px;
  margin-top: 5px;
}

/* Dog card behind */
.dog-card-behind {
  width: 450px;
  height: 200px;
  background-color: #2d2d2d;
  border-radius: 15px;

  position: absolute;
  top: 324px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
}

/* Dog Not Found Container */
.dog-not-found-container {
  width: 100%;
  height: 350px;
  background-color: var(--background-secondary);
  border-radius: 15px;

  background-image: url("/static/images/assets/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Options Container */
.options-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
}

.reject-container,
.like-container {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.reject-container > img {
  width: 37px;
  height: auto;
}

.reject-container {
  background-color: var(--background-secondary);
  transition: background-color 0.2s ease-out;
}

.reject-container:hover {
  background-color: var(--background-hover);
}

.like-container {
  background-color: var(--primary);
  transition: background-color 0.2s ease-out;
}

.like-container:hover {
  background-color: var(--button-hover);
}

.like-container > img {
  width: 40px;
  height: auto;
}

.reject-container.disabled {
  background-color: var(--background-secondary);
  opacity: 0.5;
  pointer-events: none;
}

.like-container.disabled {
  background-color: var(--primary);
  opacity: 0.5;
  pointer-events: none;
}

/* Offsprings Message Container */
.offsprings-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 5px;
}

.offsprings-message-container > button {
  margin-top: 30px;
}

.offsprings-message-container > .reject-container {
  margin-top: 18px;
}

/* Error Container */
.error-container {
  font-size: 12px;
  font-weight: 600;
  color: var(--primary);
  text-align: center;

  margin-top: 20px;
}

/* Carousel Slides */
.carousel-container {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.75); /* Black w/ opacity */

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.carousel-content {
  width: 600px;
  height: 400px;
  position: relative;
}

.carousel-images-container {
  width: 600px;
  height: 400px;
}

.slide > img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.slide {
  display: none;
}

.slide[data-active] {
  display: block;
}

.carousel-button {
  position: absolute;
  font-size: 25px;
  top: 50%;
  border-radius: 2px;
  padding: 1px 3px;
  color: var(--text-secondary);
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.carousel-button:hover {
  color: var(--text-primary);
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

/* Utilities */
.hidden {
  display: none;
}

a {
  text-decoration: none;
}
